# **Data Types and Structure Assignment**

1. What are Data Structures and why are they important?
 - Data Structures are they ways of organizing and storing data so that it can be accessed and manipulated effectively.
*Importance*
 -They make things faster, have space and help solve problems in a better and effective manner.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable means changeable- User could modify the data after creating a certain data type. For example: lists([]), dictionaries({}), Sets(()).
 - Immutable means unchangeable- once user creates a certain data type, he/she can not change it. For example- string("hello"), Tuple((1, 2, 3)).

In [ ]:
#Example for mutable data type (Lists)
my_list = [1, 2, 3]
my_list[0]= 9
my_list #It will change the value and won't give any error.

[9, 2, 3]

In [ ]:
#Example for immutable data type (String)
my_string = "pwskills"
my_string[0] = "A" #It will throw an error

TypeError: 'str' object does not support item assignment

3. What are the main difference between lists and tuples in python?
 - Both lists and tuples are data types that are ordered collection of elements and could contain heterogenous items.
 - The main difference between lists and tuples is that List is mutable data type i.e changeable and is accessed by []. Whereas, Tuple is immutable data type i.e not changeable and is accessed by ().

4. Describe how dictionaries store data.
 - Dictionaries stores data in key value pairs. One part is the key (like a word in a dictionary). The other is the value (like the meaning of that word).

5. Why might you use a set instead of a list in python.
 - A user might use a set instead of a list if a user wants to store a data but wants to avoid any duplicate entry and wants a unique item. Also, If a user wants to perform some mathematical operations like Union(|), Intersection(&), Difference(-), Symmetric difference(^).

6. What is a string in python, and how is it different from a list?
 - A string is a sequence of characters - letters, numbers, symbols- enclosed in quotations.
 - String is different from a list in many ways:
 1. String can hold only characters whereas a list can hold heterogenous data like integers, float, text and complex characters.
 2. String is immutable i.e not changeable whereas a list is mutable i.e changeable.
 3. String is generally used for storing words, sentences and text data. On the other hand a list is used for storing a group of items.
 4. Syntax for a string is ("") and syntax for a list is ([]).

7. How do tuples ensure data integrity in python?
 - Tuples ensure data integrity by:
 - Tuple being immutable, the data can not be changed once created by the user.
 - Protect important data from accidental edits.
 - Improves code clarity and intent of the code.

8. What is hash table, and how does it relate to dictionaries in python?
 - Hash table is a clever way to store and find data super fast. It works by converting a key (like a name or number)into a unique number using a special formula called a hash function.
 - A dictionary in python is built using a hash table under the scenes. So when you use a dictionary, you're really using a user-friendly interface to a powerful hash table in the background.

9. Can lists contain different data types in python?
 - Yes, in python a list can contain different data types. Lists in python are very flexible- they can hold: Numbers, Strings, Boolean values, Other lists, Even a mix of all these.

10. Explain why strings are immutable in python?
 - Once a string is created in python, you can not change or modify its contents. you can make a new string, but you can not modify the original one.Strings are immutable in python to make programs faster, safer and more reliable. It might feel strict at first but it actually helps avoid bugs/errors in your code.

11. What advantages do dictionaries offer over lists for certain tasks?
 - While lists are great for storing items in order, dictionaries offer several advantages for specific tasks:
 - Fast lookups by name(key):Dictionaries let you access values using decriptive keys, not just by numbers.
 - Dictionaries let you organize data are key-value pairs, which is easier to understand and manage, eg- storing an employee records, Details of a restaurent's menu.
 - No need to remenber index numbers: In a list you must remember the index number of an item where as, in a dictionary, you just use the key name.
 - No duplicate keys allowed: This prevents accidental over writing or confusion- each key is unique, making data more organized.
 -Ideal for structered data:Dictionaries are perfect when you're dealing with things like- user profile, inventory items, menu items.

12. Describe a scenerio where using a tuple would be preferable over a list.
 - Tuples are immutable, meaning there vales can not be modified after creation. A scenerio where using a tuple would be preferable over a list: Say you want to record attendence for each employee based on their ID and names. Since ID and name don't change often, you could store them in a tuple as a unique identifier.

13. How do sets handle duplicate values in python?
 - A set is an unordered collection of unique elements. When you add a duplicate value to a set, as a result - duplicate values are automatically ignored. The set always contains only one instance of each unique value. This behaviour is inherent to how sets are designed, amd it works the same every time.

14. How does the "in" keyword works differently for lists and dictionaries?
 - In lists: When you use "in" with a list, python performs a linear search. It goes through each element one by one, checking for a match.
 - In dictionaries: When you use "in" with a dictionary, python checks only the keys, not the values.

15. Can you modify the elements of a tuple? explain why or why not.
 - No you can not modify the elements of a tuple in python because tuples are immutable- once a tuple is created, its elements can not be changed, added or removed. When python creates a tuple, it stores the data in a fixed memory structure.
 - However, If tuple contains a mutable elememts (like a list), you can change the contents of that inner object. But tuple itself  is still unchanged- you didn't replace an element, you just changed the part of a mutable object inside it.

16. What is a nested dictionary and give an example of its use case.
 - A nested dictionary is a dictionary inside another dictionary. It allows you to store structured, layered data- like a mini database.
 - Use Case: Student Record System- You want to store details of multiple students. instead of creating a list of separate dictionaries or using complex structures, you can use a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
 - Accessing an element in a python dictionary takes a vert short and constant average time. No matter how big the dictionary is, you can usually get the value for a key very quickly without searching through all the items. Dictionary lookups are very fast.

18. In what situations are lists preferred over dictionaries?
 - You should use a list over a dictionary in the following cases:
 - When the order of the values added matters as lists keep items in the exact order you added them and you can access them easily with use of index/positions.
 - You don't need any labels or keys: Lists are perfect for simple collections of items, like number or names.
 - You need to store duplicates: Lists allows you to store repeated values, unlike sets or dictionary keys.
 - You want to loop through items by position: lists are easy to loop through using indexes.
 - Data has no clear keu-value structure, a list would be simpler in such case.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Traditionally, Dictionaries do not keep items in the order they were added, this means the key and the value have no fixed position inside the dictionary.
 - When you retrieve items by using the key, you get the correct value quickly, regardless of where it is stored. But if you try to loop through the dictionary, the order of items might seem random or different each time. So, you can not reply on the order of elements in a dictionary.

20. Explain the difference between a list and a dictionary in terms of data review.
 - List: A list is an ordered collection of elements. Data is accessed and reviewed by indexes and the order of the elements is maintained, allowing sequential review. Suitable for situations where order and reposition matter.
 - Dictionary: A dictionary is an unordered collection of key-value pairs. Data is accessed and reviewed by keys which act as unique identifiers. The order of items is not guaranteed so, the ideal situation is where direct lookup by a unique key is required.

# **Practical Questions**

1. Write a code to create a string with your name and print it.

In [1]:
str = "Lavanya"

2. Write a code to find the length of a string "Hello World".

In [2]:
a = "Hello World"
len(a)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
b = "Python Programming"
b[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [5]:
c = "hello"
c.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in a string "i like apple".

In [7]:
d = "i like apple"
d.replace("apple","orange")

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
 l = [1,2,3,4,5]
 print(l)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4].

In [9]:
e = [1,2,3,4]
e.append(10)
e

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [10]:
f = [1,2,3,4,5]
f.remove(3)
f

[1, 2, 4, 5]

9. Write a code to access the second element in the list['a','b','c','d'].

In [11]:
l1 = ["a","b", "c", "d"]
l1[2]

'c'

10. Write a code to reverse the list [10,20,30,40,50].

In [12]:
l2 = [10,20,30,40,50]
l2[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100,200,300 and print.

In [13]:
t = (100,200,300)
print(t)

(100, 200, 300)

12. Write a code to access the second to the last element of a tuple ('red','green','blue','yellow').

In [14]:
t1 = ('red', 'green', 'blue', 'yellow')
t1[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
t3= (10,20,5,15)
min(t3)

5

14. Write a code to find the index of the element 'cat' in the tuple ('dog','cat','rabbit').

In [16]:
t4 = ("dog","cat", "rabbit")
t4.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
t5= ("pineapple", "Apple", "Grapes")
"kiwi" in t5

False

16. Write a code to create a set of the elements 'a', 'b', 'c' and print it.

In [18]:
s = {"a", "b", "c"}
print(s)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1,2,3,4,5}.

In [19]:
s1 = {1,2,3,4,5}
s1.clear()
s1

set()

18. Write a code to remove the element 4 from the set {1,2,3,4}.

In [20]:
s2 = {1,2,3,4}
s2.remove(4)
s2

{1, 2, 3}

19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [21]:
s3 = {1,2,3}
s4 = {3,4,5}
s3 | s4

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [22]:
s5 = {1,2,3}
s6 = {2,3,4}
s5 & s6

{2, 3}

21. Write a code to create a dictionary with keys "name","age" and "city" and print it.

In [23]:
from re import M
my_dict = {"name":"Lavanya", "age": 22, "city": "Hisar"}
print(my_dict)

{'name': 'Lavanya', 'age': 22, 'city': 'Hisar'}

22. Write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"John","age":"25"}.

In [25]:
my_dict1 = {"name": "John", "age": 25}
my_dict1["country"] = "USA"
my_dict1

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary{"name":"alice","age":"30"}.

In [26]:
my_dict2 = {"name": "Alice", "age": 30}
my_dict2["name"]

'Alice'

24. Write code to remove the key "age" from the dictionary {'name':'Bob', 'age':'22', 'city':'New York'}.

In [28]:
my_dict3 = {"name": "Bob", "age": 22, "city": "New York"}
my_dict3.pop("age")
my_dict3

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name':'Alice', 'city':'Paris'}.

In [29]:
my_dict4 = {"name": "Alice", "city": "Paris"}
"city" in my_dict4

True

26. Write a code to create a tuple and a dictionary and print them all.

In [30]:
t5= ("pineapple", "Apple", "Grapes")
my_dict3 = {"name": "Bob", "age": 22, "city": "New York"}
print(t5)
print (my_dict3)

('pineapple', 'Apple', 'Grapes')
{'name': 'Bob', 'age': 22, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result.(replaced)

In [31]:
my_list = [98, 56, 76, 95, 35]
my_list.sort()
my_list

[35, 56, 76, 95, 98]

28. Write a code to create a list with strings and print the elements at the third index.

In [34]:
l8 = ["Ajay", "Lavi", "Daisy", "Priya", "Anshum"]
print(l8[3])

Priya

29. Write a code to combine two dictionaries into one and print the result.

In [40]:
i = my_dict2.update(my_dict)
print(i)

None

30. Write a code to covert a list of strings into a set.

In [39]:
l8 = ["Ajay", "Lavi", "Daisy", "Priya", "Anshum"]
string_set = set(l8)
print(string_set)

{'Daisy', 'Anshum', 'Priya', 'Lavi', 'Ajay'}